{% extends 'base.html' %}

{% block title %}Детали продукта{% endblock %}

{% block content %}
{% include 'header.html' %}
<h2>{{ product.name }}</h2>
<p>Описание: {{ product.description }}</p>
<p>Категория: {{ product.category.name }}</p>
<p>Цена: {{ product.price }}р.</p>
<p>Дата производства: {{ product.created_at|date:"d M Y" }}</p>
<p>Дата обновления: {{ product.update_at|date:"d M Y" }}</p>
<p>Опубликован: {{ product.is_published }}</p>
{% if request.user == product.owner or perms.catalog.can_unpublish_product %}
<a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
<a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
{% endif %}

<a href="{% url 'catalog:products_list' %}" class="btn btn-primary">Обратно в каталог</a>

{% if perms.catalog.can_unpublish_product %}
<form method="post" action="{% url 'catalog:product_unpublish' product.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning">Снять с публикации</button>
</form>
{% endif %}

{% endblock %}